@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  background-color: #292929;
}

* {
  font-family: 'Quicksand', sans-serif;
}

a.active{
  color: #00ADEF
}

.range-sm::-webkit-slider-thumb{
  -webkit-appearance: none; 
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00ADEF
}

.range-sm::-moz-range-thumb{
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00ADEF
}

/* button-play  */
.play-audio .inner-button-play.play .inner-icon-play {
  display: none;
}
.play-audio .inner-button-play.play .inner-icon-pause {
  display: block;
}

/* end button play  */

/* button volume  */
.play-audio .inner-button-volume.off .inner-volume-high{
  display: none;
}
.play-audio .inner-button-volume.off .inner-volume-off{
  display: block;
}
/* end button volume  */